<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.FindMapper">

<select id="findIdCheck" parameterType="Map" resultType="com.docmall.domain.MemberVO">

	SELECT 
		mbsp_id 
	FROM 
		MBSP_TBL 
	WHERE 
		MBSP_NAME=#{mbsp_name} 
	AND 
		MBSP_EMAIL=#{mbsp_email}
</select>

	</mapper>  